/*************** Notifications ***************/

.notification {
    position: relative;
    margin: 15px;
    padding: 0;
    border: 1px solid;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    font-size: 13px;

}


.attention {
    background: #fffbcc url('/img/admin/New/exclamation.png') 10px 11px no-repeat;
    border-color: #e6db55;
    color: #666452;
}

.information {
    background: #dbe3ff url('/img/admin/New/information.png');
    border-color: #a2b4ee;
    color: #585b66;
}

.success {
    background: #d5ffce url('/img/admin/New/tick_circle.png');
    border-color: #9adf8f;
    color: #556652;
}

.error {
    background: #ffcece url('/img/admin/New/cross_circle.png');
    border-color: #df8f8f;
    color: #665252;
}

.notification div {
    display:block;
    font-style:normal;
    padding: 10px 10px 10px 36px;
    line-height: 1.5em;
}

.notification .close {
    color:#990000;
    font-size:9px;
    position:absolute;
    right:5px;
    top:5px;
}

/* Notification for form inputs */

.input-notification {
    background-position: left 2px;
    background-repeat: no-repeat;
    padding: 2px 0 2px 22px;
    background-color: transparent;
    margin: 0 0 0 5px;
}

/* Notification for login page */

#login-wrapper #login-content .notification {
    border: 0;
    background-color: #141414;
    color: #fff !important;
}
html {
    height:100%;
    margin:0;
    padding:0;
}
body {
    height:100%;
    margin:0;
    padding:0;
    font-family:Georgia, arial;
    background:#352016 url(images/inside_header_bg.jpg) left top repeat-x;
}
#container {
    background:url(images/inside_content.gif) center center repeat-y;

    min-height:100%;
}
* html #container {
    height:100%;
}
#header{
    height:267px;
    background:url(images/inside_header.jpg) center top no-repeat;
}
#content {
    margin-left:0px;
    margin-right:0px;

}
#logo_outside{
    width:980px;
    position:absolute;
    right:50%;
}
#logo{
    width:980px;
    position:absolute;
    left:50%;
}
#logo div{
    height:130px;
    width:200px;
    margin-left:160px;
    margin-top:60px;
    cursor:pointer;
}
#clear {
    height:0;
    font-size:1px;
    line-height:0px;
    clear:both;
}
#rasporka {
    height:40px;
}
#footer {
    height:50px;
    margin-top:-50px;
    background:url(images/inside_bottom.jpg) center center no-repeat;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
}
#footer_inside{
    width:980px;
    margin:0 auto;
}
#copyright{
    margin-top:23px;
    margin-left:20px;
    color:#726048;
    font-style: italic;
    font-size:0.8em;
    float:left;
}
#welcome{
    float:left;
    margin-top:20px;
    margin-left:25px;
    color:#9d3e2d;
    font-size:1.0em;
	font-style:italic;
}
#address{
    color:#726048;
    font-size:1.0em;
	font-style:italic;
    float:left;
    margin-top:20px;
}
#counters{
    margin-left:20px;
    margin-top:16px;
    float:left;
}
#ai{
    margin-top:20px;
    margin-left:25px;
    float:left;
    width:150px;
    height:17px;
    background:url(images/ai.png) right center no-repeat;
}
#ai a{
    font-size:0.8em;
    color:#726048;
    font-style: italic;
    text-decoration: none;
}
a{color:#6d2615;text-decoration:underline;}
a:hover{color:#9d3e2d;text-decoration:none;}
#menu_top_outside{
    position:absolute;
    width:991px;
    right:50%;
    height:56px;
}
#menu_top{
    left:50%;
    position:absolute;
    top:210px;
    background:url(images/menu_top.png) no-repeat;
    width:991px;
    height:56px;
    padding-top:16px;
}
#menu_top_slider_outside{
    position:absolute;
    width:991px;
    right:50%;
}
#menu_top_slider{
    left:50%;
    position:absolute;
    top:220px;
    width:991px;
}
#menu_top span{
    color:#574732;
    font-style: italic;
    padding-left:90px;
    padding-right:40px;
    text-decoration: none;
    cursor:pointer;
}
#menu_top.inside span{
    color:#574732;
    font-style: italic;
    padding-left:50px;
    padding-right:40px;
    text-decoration: none;
    cursor:pointer;
}
#menu_top span a{
    color:#574732;
    font-style: italic;
    text-decoration: none;
    cursor:pointer;
}
.menu_slider{
    position:absolute;
    width:227px;
    background:url(images/menu_slide.png) bottom no-repeat;
    display:none;
    padding-top:60px;
    padding-bottom:40px;
}
#menu_slider_1{
    left:20px;
}
#menu_slider_2{
    left:250px;
}
#menu_slider_3{
    left:480px;
}
#menu_slider_4{
    left:720px;
}

.inside #menu_slider_1{
    left:20px;
}
.inside #menu_slider_2{
    left:120px;
}
.inside #menu_slider_4{
    left:570px;
}
.inside #menu_slider_5{
    left:760px;
}

a.menu_sub_item{
    display:block;
    color:#664a38;
    margin-top:5px;
    margin-left:35px;
    margin-right:20px;
    font-size:0.8em;
    font-style: italic;
    text-decoration: none;
}
a.menu_sub_item:hover{
    text-decoration: underline;
}
#content{
    color:#55493f;
    font-size:0.9em;
    width:980px;
    margin:0 auto;
}
#menu_left_inside{
    width:280px;
    float:left;
    padding-bottom:30px;
}
#menu_left_inside h1{
    font-weight:normal;
    font-size:1.75em;
    color:#98665e;
    font-style: italic;
    margin:16px 30px 30px 40px;
}
#menu_left_inside a{
    display:block;
    margin:10px 30px 0px 40px;
    color:#5e4534;
    text-decoration:none;
}
#menu_left_inside a.menu_left_link.selected{
font-weight:bold;
}
#menu_left_inside a:hover{
    color:#9d3e2d;
    text-decoration:underline;
}
#inside_content{
    float:right;
    width:640px;
    margin-right:50px;
    padding-bottom:30px;
}
#inside_content h1{
    font-weight:normal;
    font-size:1.7em;
    color:#98665e;
    font-style: italic;
}
.pager{
    margin-top:20px;
}
#top_cart_outside{
    position:absolute;
    right:50%;
    width:980px;
}
#top_cart{
    position:absolute;
    left:50%;
    width:980px;
}
#top_cart .top_cart_link{
    position:absolute;
    top:70px;
    right:90px;
    width:200px;

}
#top_cart .top_cart_link a{
    color:#ece0a8;
    font-size:1.1em;
}
#top_cart .top_cart_count{
    position:absolute;
    top:100px;
    font-size:0.9em;
    width:200px;
    right:90px;
    color:#eee;
}
.breadcrumbs{
    margin-top:20px;
}

 div.submenu{
    display:none;
}
 div.submenu a{
    display:none;
}
 div.first{
    display:block;
}
div.active{
    display:block;
}
div.active>a{
    display:block;
}
.plus{
    cursor:pointer;
    position: absolute;
    margin-left:35px;
    margin-top:8px;
}
#menu_left_inside .oplata_i_dostavka{
    margin-top:30px;
}
.catalog_search{
    margin-left:30px;
}
.message{
    padding:20px;
    color:#9d3e2d;
}
